*,
*::before,
*::after {box-sizing: border-box;}
/*==============================================================================
    Bouton liste style
  =============================================================================*/
  .App_store{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: bold;
    letter-spacing: normal;
    text-align: right;

    padding: 10px 12px;
    margin-right:5px;

    border-radius: 4px;
    border: solid 1px #2c3238;
    background-color: #ffffff;
  }
  .App_store:hover {
    color: #ffffff;
    
    padding: 10px 12px;

    border-radius: 4px;
    background-color: #2196f3;
    border: none;
  }
  .fab.fa-apple{
    padding-right: 15px;
  }
  .Google_Play{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: bold;
    letter-spacing: normal;
    text-align: right;

    padding: 10px 12px;
    
    border-radius: 4px;
    border: solid 1px #2c3238;
    background-color: #ffffff;
  }
  .Google_Play:hover{
    color: #ffffff;
    
    padding: 10px 12px;

    border-radius: 4px;
    background-color: #2196f3;
    border: none;
  }
  .fab.fa-google-play{
    padding-right: 15px;
  }
  .See_demo{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: bold;
    letter-spacing: normal;
    text-align: center;

    padding: 10px 20px;

    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid black;
  }
  .See_demo:hover{
    color: #ffffff;
    
    padding: 10px 20px;
    
    border-radius: 4px;
    background-color: #604def;
    border: none;
  }
  .far.fa-play-circle{
    padding-right: 15px;
  }
 
  .fas.fa-play{
    color: black;
  }
  .fas.fa-play:hover{
    color: #2196f3;
  }
  .Get_started{
    color: #2196f3;
    font-family: 'Lato';
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: bold;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
    list-style:none;

    display: block;
    width: 60%;
    height: 30px;
    margin:0 auto;
    

    border-radius: 4px;
    background-color: #ffffff;
    border: none;
  }
  .Get_started a{
    color: #2196f3; 
    text-decoration: none;
    list-style: none;
  }
  .lets_talk{
    font-family: 'lato';
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: bold;
    letter-spacing: normal;
    text-align: center;

    margin-top:50px;
    height: 30px;
    width: 100px;

    border-radius: 4px;
    background-color: #ffffff;
    border: none;
  }
  .lets_talk a{
    color: #2196f3; 
    text-decoration: none;
    list-style: none;
  }
  .Get_started2{
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: bold;
    letter-spacing: normal;
    text-align: center;
    color: black;
    
    width: 130px;
    height: 30px;

    border-radius: 4px;
    background-color: #ffffff;
    border: 1px solid black;
  }
  .Get_started2:hover {
    color: #ffffff;

    width: 130px;
    height: 30px;

    border-radius: 4px;
    background-color:#2196f3 ;
    border: none;  
  }
 