
*,
*::before,
*::after {box-sizing: border-box;}
/*====================================================================================
header
==================================================================================== */
body {
  margin: 0;
}
.body {
  display: block;
  width: 1500px;
  height: 100%;
  margin: 0 auto;
}
.section-1 {
  width: 100%;
  height: 800px;
  padding: 0px 0px 45px 100px ;
  margin: 0 auto;
  z-index: -1;

  background-image: url(../Assets/images/BG2.png);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: 60%;
}
.head {
  display: inline-block;
  width: 100%;
  height: 100px;
  padding: 15px 150px 10px 50px ;
}
.head nav li {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #dadada;
  font-size: 12px;
  list-style: none;

  display:block;
  padding: 10px;
  float: left;
 }
.head li a {
  color: #dadada;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 12px;

  position: relative;
  padding: 12px 10px;
  letter-spacing: 2px;
}
.head li a::after {
  content: "\0020";
  
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  left: 50%;
    
  opacity: 0;
  border-radius: 100%;
  background: #00da97;
  transform: translateX(-50%);
}   
.head li.switch a::after {
  top: -8px;

  background: #ff0000;
}
.head li a:hover::after,
.head li a.active::after {
  bottom:-8px;
  
  opacity: 1;
}

.head nav {
  display: block;
  margin: 0 auto;
  padding: 10px 10px 25px 25px;
  float: right;
}
.head-title h1::before{
  content: "";

  display: block;
  width: 50px;
  height: 1px;

  border: solid 1px #2196f3;
  background-color: #2196f3;
}
.head-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  text-align: left;
  font-size: 24px;

  display: block;
  padding: 25px;
  width: 70%;
  height: 700px;
  margin-left: 100px;

  background-image: url(../Assets/images/IPhone.png);
  background-size: 38%;
  background-repeat: no-repeat;
  background-position: top right;
}
.head-title span {
  font-family: 'Playfair Display', serif;
  font-style:  italic;
  font-weight: bold;
}
.head-title p{
  font-family: 'Rubik',sans-serif;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: 0.14px;

  margin-bottom: 75px;
}
.fab.fa-apple{
  text-align: left;
  font-size: 20px; 
}
.fab.fa-google-play{
  text-align: left;
  font-size: 20px;
}
/*====================================================================================
section 2
==================================================================================== */
.section-2 {
  margin-left: 225px;
  margin-right: 150px;
}
.article-slider {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #2c3238;


  width: 55%;
  height: 150px;
  text-align: center;
  margin: 0 auto;
}
.article-slider::before{
  content: "\0020";

  display: block;
  width: 50px;
  height: 1px;
  margin: 0 auto;

  border: solid 1px #2196f3;
  background-color: #2196f3;
}
.block-article:hover{
  box-shadow: 15px 15px 60px 0 rgba(228, 232, 239, 0.9);
  background-image: url(../Assets/images/Arrow.png);
  background-repeat: no-repeat;
  background-position: bottom right;  
  border:5px solid #ffffff;
  transform: scale(1.05);
}
.block-article{
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  font-size: 14px;
  line-height: 1.27;
  letter-spacing: 0.11px;
  text-align: left;
  
  display: block;
  float: left;
  width: 30%;
  height: 300px;
  padding: 25px;
  margin:15px;  
  margin-bottom: 100px;

  background-image: url(../Assets/images/Arrow.png);
  background-repeat: no-repeat;
  background-position: bottom;  

  border-radius: 7px;
  background-color: #ffffff;
}
.block-article a{
  color: black;
  list-style: none;
  text-decoration: none;
}
.block-article h2{
  font-weight: 500;
  font-size: 18px;
}
.block-article figure {
  display: block;
  margin : 4px;
  width: 60px;
  height: 60px;
  padding: 20px;

  border-radius: 100%;
  background-color: #e4f2ff;
}
.block-article img{
  display: block;
  width:100%;  
}
.foot-slider {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  text-align: center;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.07px;
  
  display: block;
  width: 77%;
  margin:0 auto;
  margin-top: 150px; 
  margin-bottom: 50px; 
}
.foot-slider span{
  font-weight:600;
}
/*====================================================================================
section 3
==================================================================================== */
.section-3 {
  display: block;
  position: relative;
  width: 100%;
  height: 800px;
  padding: 50px;

  background-image: url(../Assets/images/Groupe\ 1.png);
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: 48%;
}
.block-3 {
  font-family: 'Poppins';
  text-align: left;

  display: block;
  float: right;
  width: 45%;
  padding-top: 100px;
  padding-right: 200px;
}
.block-3 h2{
  font-size: 18px;
  font-weight: 5  00;

  padding-right: 175px;
  padding-bottom: 30px
}
.block-3 span{
  font-family: 'Rubik';
  font-weight:600;
}
.block-3 p{
  font-size: 14px;
  font-family: 'Rubik';

  margin-bottom: 50px;
}
/*====================================================================================
section 4
==================================================================================== */
.Section-4{
  display: block;
  position: relative;
  width: 100%;
  margin-top: -250px;
}
.Section-4 article::before{
  content: "\0020";

  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  margin-top:-150px;
  margin-bottom: 35px;
  z-index: 1;
  
  background-color: #cccccc;
}
.Section-4 article {
  text-align: center;

  display: block;
  position:relative;
  width: 50%;
  margin:0 auto;
  padding: 75px 125px;
}
.Section-4 article:hover{
  background-color: #ffffff;
  border-radius: 7px;
  box-shadow: 0px 20px 40px 0 rgba(92, 95, 101, 0.15);
}
.arrow {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  position: relative;
  width:100%;
  margin: 0 auto;
}
.arrow h3{
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: 0.09px;
  text-align: center;
  color: #2c3238;
  
  margin-bottom: 5px;
}
.arrow h4{
  color: #6f7982;

  margin-top: 5px;
}
.Section-4 img {
  display: block;
  margin: 0 auto;
  padding: 50px;
  width: 70%;
}
.fas.fa-chevron-circle-right{
  background-color: #ffffff;
  color: #dadada;
  
  margin: 0 auto;
  position:absolute;
  left:80%;
  top:50%;
 
  border-radius: 50%;
}
.fas.fa-chevron-circle-left{
  color: #dadada;
  background-color: #ffffff;

  margin: 0 auto;
  position:absolute;
  left:20%;
  top:50%;
  
  border-radius: 50%;
}
/*====================================================================================
section 5
==================================================================================== */
.Section-5{
  display: block;
  position: relative;
  width: 100%;
  height: 900px;
  padding-top: 80px;
  
  background-image: url(../Assets/images/background2.png);
  background-repeat: no-repeat;
  background-size: 55%;
  background-position: bottom right;
}
.block-5 {
  display: block;
  float: left;
  width: 25%;
  padding: 25px 0 ;
  margin-left: 225px;
  margin-right: 50px;
  margin-top: 50px;
}
.block-5 h2{
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: left;
  color: #2c3238;
}
.block-5 p {
  font-size: 14px;
  font-family: 'Rubik';
  line-height: 1.56;


  margin-bottom: 50px;
}
.block-5 span{
  font-size: 14px;
  font-family: 'Rubik';
  font-weight: 500;
}
.video{
  display: block;
  position: relative;
  margin-left: 50px;
  float: left;
  width: 540px;
  height: 420px;
  
  z-index: 0;
  opacity: 0.7;
  border-radius: 7px;
  box-shadow: 0px 15px 70px 0 rgba(0, 0, 0, 0.35);
  background-color:#9a96a2;
}
.video .circle-1{
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
  width: 200px;
  height: 200px;

  z-index: 1;
  border-radius: 100%;
  border: 1px solid white;
  opacity: 0.8;
}
.video .circle-2{
  display: block;  position: absolute;
  left: calc(50% - 87.5px);
  top: calc(50% - 87.5px);
  width: 175px;
  height: 175px;

  border-radius: 100%;
  border: 1px solid white;
  z-index: 1;
  opacity: 0,7;
}
.video .circle-3{
  display: block;  
  position: absolute;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  width: 150px;
  height: 150px;

  z-index: 1;
  border-radius: 100%;
  border: 1px solid white;
  opacity: 0.5;
}
.video .circle-4{
  display: block;  
  position: absolute;
  left: calc(50% - 62.5px);
  top: calc(50% - 62.5px);
  width: 125px;
  height: 125px;

  border-radius: 100%;
  border: 1px solid white;
  z-index: 1;
  opacity: 0.3;
 }
.video .circle-5{
  display: block;  
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);
  width: 100px;
  height: 100px;
   
  z-index: 2;
  border-radius: 100%;
  border: 1px solid white;
  background: white;
 }
.video button{
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  width:50px;
  height: 50px;

  z-index: 3;
  background: none;
  border:none;
 }
.video button a {
  color: blue;
 }
/*====================================================================================
section 6
==================================================================================== */
.section-6 {
  position: relative;
  display: block;
  margin-top: -250px;
  margin-left: 100px;
}
.container-post {
  display: block;
  position: relative;
  width:100%;
  padding: 100px 150px 100px 100px;
}
.title-6::before{
  content: "\0020";

  display: block;
  width: 50px;
  height: 1px;
  margin: 0 auto;

  border: solid 1px #2196f3;
  background-color: #2196f3;
}
.title-6{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  text-align: center;
  color: #2c3238;

  display: block;
  margin: 0 auto;
  width: 100%;
}

.top-block {
  font-family: 'Rubik', sans-serif;
  text-align: left;
  
  list-style: none;
  line-height: 1.43;
  
  display: block;
  position: relative;
  float: left;
  padding: 10px 75px 50px 50px;
  height: 314px;

  background: white;
  border-radius: 7px;
  box-shadow: 0px 15px 70px 0 rgba(228, 232, 239, 0.9);
  background-color: #ffffff;
}
.top-block h2{
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  color: #2c3238;
}
.top-block h3{
  font-weight: 500;
  font-style: normal;
  font-size: 18px;
}
.top-block nav li{
  font-family: 'Rubik', sans-serif;
  text-align: left; 
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
}
.top-block a {
  text-decoration: none;
  list-style: none;
  font-family: 'Rubik';
  font-size: 18px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  letter-spacing: 0.11px;
  color: #2196f3;

  float: right;
  padding: 60px 0px 60px 100px;
}
.top-block nav li i {
  color: #00da97;

  margin: 0px 10px 0px 0px;
  padding:0px;
}
.post{
  font-family: 'Rubik', sans-serif;
  line-height: 1.43;
  letter-spacing: 0.07px;
  text-align: center;

  display: block;
  float: left;
  padding: 10px 50px;
  width: 33%;
  height: 157px;
}
.post h3{
  font-size: 14px;
  font-weight: 600;
}
.post p {
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.07px;
  text-align: center;
}
.post figure {
  width: 25px;
  height: 25px;
  padding-top: 2px;
  margin: 0 auto;

  border-radius: 10px;
  background-color: #2196f3;
}
.post:hover {
  box-shadow: 10px 10px 20px 0 rgba(228, 232, 239, 0.9);
  background-color: #f2f7fd;
  background-repeat: no-repeat;
  background-position: bottom right;
  transform: scale(1.01);
}
/*====================================================================================
section 7
==================================================================================== */
.foot-page{
  color: white;
  
  display: inline-block;
  width: 100%;
  height: 450px;
  margin: 0 auto;
  padding: 100px 150px;
  margin-top: 100px;
  
  background-color: #3f559e;
  background-image: url(../Assets/images/BG_footer.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 120%;
}
.foot-page nav{
  position: relative;
  display: block;
  margin: auto;
  float: left;
  padding: 25px 40px;
}
.foot-page a{
  list-style: none;
  text-decoration: none;
  color: #ffffff;
}
.foot-page a li:hover{
  font-size: 14px;
  font-weight: 600;
}
.block_footer span:hover::after{
  content: "Hiring";
  text-align: center;
  font-weight: 500;

  display: inline-block;
  width: 50px;
  height: 25px;
  margin-left:5px;
  
  border-radius: 2px;
  box-shadow: 1px 1px 0px 0 rgba(33, 150, 243, 0.9);
  background-color: #2196f3;
}
.block_footer {
  font-family: 'Rubik', sans-serif;
  line-height: 1.90;
  letter-spacing: 0.7px;

  display: block;
  float:left;
  margin-left:50px;
}
.block_footer nav h5{
  text-transform: uppercase;
  font-size: 14px; 
  font-weight: 500;
}
.block_footer li{
  font-size: 14px;
  text-transform: none;
  font-weight:400;
}
.foot-page article {
  font-family: 'Rubik';
  position: relative;
  display: block;
  float: right;
  padding: 25px 10px 25px 25px;
  width: 420px;
  height: 200px;

  border-radius: 7px;
  border: solid 1px #e7e7e7;
  background-color: #3f559e;
}
.foot-page article h5 {
  font-weight: 500;
  color: #00da97;
  font-size: 14px;
  text-transform:uppercase;
  line-height: 1.57;
  letter-spacing: 1.4px;
  
  margin-bottom: 2px;
}
.foot-page article  p{
  font-family: 'Rubik';
  font-size: 14px;
  text-transform: none;
  font-weight:400;

  margin-top: 14px;
}
.TextInput {
  font-family: 'Rubik';
  color: #aaaaab;

  width: 220px;
  height: 30px;
  margin-top:14px;
  margin-right:15px;
  
  border-radius: 4px;
  background-color: #ffffff;
  border-width: 0;
}
.BoutonSubmit:hover {
  font-family: 'Rubik';
  color: white;
  font-weight: 500;

  background-color: #00da97;
}
.BoutonSubmit {
  font-family: 'Rubik';
  width: 115px;
  height: 30px;

  border-radius: 4px;
  background-color: #ffffff;
  border-width: 0;
}
/*====================================================================================
footer
==================================================================================== */
.footer-page{
  position: absolute;
  width: 100%;
  height: 100px;
  margin: 0 auto;
  
  background-color: #f6f8fc; 
}
.footer-page main {
  position: relative;
  display: block;
  float: left;
  margin: 0 auto;
}
.copyright{
  font-family: 'Rubik', sans-serif;
  font-size: 14px;
  font-weight:400;

  position: relative;
  display: block;
  float: left;
  margin: 0 auto;
  width: 45%;
  padding: 25px 25px;
}
.reseau-socio {  
  position: relative;
  display: block;
  float: right;
  margin: 0 auto;
  padding: 35px 25px;
}

.logo-footer {
  position: relative;
  display: block;
  float:left;
  padding: 25px 25px;
}